/* grid : it is the same as Table except it is for layouts */
/* row-gap
    column-gap
    gap
*/

.container{
    box-sizing: border-box;
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,25%);
    /* the size of the new created rows */
    grid-auto-rows: 100px;
    /* the size between rows */
    row-gap: 10px;

    column-gap: 10px;
    /* shorthand for row and column gap */
    gap: 10px 20px;
    
}
.red{
    background-color: red;
    /* if you put any display value for an element in the gride it will out of the grid */
   
}
.green{
    background-color: green;
    
}
.blue{
    background-color: blue;
}
.orange{
    
    background-color:orange;
}